quick-transformations/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-transformations/*.gif filter=lfs diff=lfs merge=lfs -text
quick-visualization/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-visualization/*.gif filter=lfs diff=lfs merge=lfs -text
quick-app/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-app/*.gif filter=lfs diff=lfs merge=lfs -text
quick-app-deploy/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-app-deploy/*.gif filter=lfs diff=lfs merge=lfs -text
quick-snippets/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-snippets/*.gif filter=lfs diff=lfs merge=lfs -text
quick-load-data-s3/*.mp4 filter=lfs diff=lfs merge=lfs -text
quick-load-data-s3/*.gif filter=lfs diff=lfs merge=lfs -text
